@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700;800&family=Source+Code+Pro&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 2fr 7.5fr 0.5fr;
    background-color: #2c3e50;
    height: 100vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    line-height: 2.5;
    color: #48c9b0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #7f8c8d;
    line-height: 1.5;
}

th {
    color: #95A5A6;
}

td {
    color: #ecf0f1;
    text-align: left;
    padding: 0 15px;
}

.code {
    font-family: 'Source Code Pro', monospace;
}

span {
    padding-left: 20px;
}

footer {
    font-family: Roboto, Arial, sans-serif;
    color: #bdc3c7;
    display: flex;
    justify-content: center;
    align-items: center;
}